.card-container {
  min-height: 30rem;
  background-color: black;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container-rowReverse {
  min-height: 30rem;
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-content {
  width: 50%;
  min-height: auto;
  padding: 0 20px;
}
.card-content h1 {
  font-size: 3rem;
  font-weight: 900;
}

.card-content p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 0;
}
.card-img {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.card-img img {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .card-content {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 20px;
  }
  .card-content h1 {
    font-size: 32px;
  }

  .card-content p {
    font-size: 16px;
  }
}
