@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
}
.lists {
  margin-top: -100px;
}

footer {
  margin-left: 30px;
  text-align: center;
  padding: 10px 0;
}
.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 1rem;
}

.footer-links a {
  font-size: 13px;
  color: #808080;
  text-align: left;
  padding: 10px 0;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .footer-links {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer {
    padding: 2rem 0;
  }
}
