.container {
  background-color: white;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 450px;
  min-height: 525px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  box-sizing: border-box;
  color: #333;
  margin: 90px 0;
}
.form h1 {
  font-size: 32px;
  padding: 10px 0;
}
.form p {
  font-size: 18px;
  padding: 5px 0;
}
.form .step {
  font-size: 13px;
}
.form .step span {
  font-weight: bold;
}
.form-element {
  position: relative;
  margin-top: 10px;
}
.form-element input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  font-family: inherit;
  padding: 16px 20px 0 20px;
  border: none;
  outline: none;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 16px;
}
.floating-label {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: 18px;
  cursor: text;
  color: #8c8c8c;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease,
    -webkit-transform 0.1s ease, -moz-transform 0.1s ease,
    -o-transform 0.1s ease;
}
input:focus ~ .floating-label,
input:valid ~ .floating-label {
  font-size: 11px;
  top: 7px;
}
.inputError {
  color: #e50914;
  margin-bottom: -6px;
  padding: 6px 3px;
  font-size: 13px;
}
form button {
  height: 50px;
  background: #e50914;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 24px;
  font-weight: 500;
  margin: 24px 0 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  font-weight: bold;
}

.form-remember {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.form-remember input {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid;
  content: "";
}
